<div class="toppage">
  <div class="container">
    <h1>メール新規作成</h1>
    <p>イベントに関するメールの新規作成を行うことができます。</p>
  </div>
  <%= form_with(model: @inquiry, url:inquiries_confirm_path,local:true) do |f|%>
  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
    <div class="form-group">
      <%=f.label :name%>
      <%=f.text_field :name, autofocus: true, class: "form-control", placeholder: "イベント名"%>
    </div>
    <div class="form-group">
      <%=f.label :email %>
      <%=f.text_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス"%>
    </div>
    <div class="form-group">
      <%=f.label :dates %>
      <%=f.date_select :dates, {use_month_numbers: true}, class: "form-control", placeholder: "開催日時"%>
    </div>
    <div class="form-group">
      <%=f.label :content %>
      <%=f.text_area :content, class: "form-control", placeholder: "イベント内容"%>
    </div>
    <div class="text-center">
      <%=f.submit '確認画面へ',class: 'btn btn-primary' %>
    </div>
  <%end%>
</div>
